[Unit]
Description=Init Password for image
After=network.target 
Before=jenkins.service

[Service]
Type=oneshot
ExecStart=-/bin/apt reinstall jenkins
ExecStart=-/bin/yum reinstall jenkins
ExecStart=/bin/systemctl disable init-password

[Install]
WantedBy=multi-user.target
